# Pandas üêªüêº

In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt

In [2]:
idct = {
    'Name': 'John',
    'Sex': 'male',
    'Age': 22
}

In [3]:
pd.Series(idct)

Name    John
Sex     male
Age       22
dtype: object

In [4]:
array = np.array([22, 31, 42, 23])
age_series = array
array

array([22, 31, 42, 23])

In [5]:
pd.Series(array)

0    22
1    31
2    42
3    23
dtype: int64

In [6]:
array = np.array(['John', 'mal', 22])
pd.Series(array)

0    John
1     mal
2      22
dtype: object

In [7]:
pd.Series(array, index=['Name', 'Sex', 'Ag'])

Name    John
Sex      mal
Ag        22
dtype: object

In [8]:
john_series = pd.Series(array, index=['Name', 'Sex', 'Ag'])

In [9]:
john_series['Name']

'John'

# DataFrame

In [10]:
ndarray = np.arange(10)
ndarray

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
ndarray = ndarray.reshape(2, 5)
ndarray

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [12]:
pd.DataFrame(ndarray, index=['index1', 'index2'],columns=['a', 'b', 'c', 'd', 'e'])  # „Ç´„É©„É†„ÅåÊ®™ „Ç§„É≥„Éá„ÉÉ„ÇØ„Çπ„ÅåÁ∏¶

        a  b  c  d  e
index1  0  1  2  3  4
index2  5  6  7  8  9

In [13]:
data1 = {
    'Name': 'John',
    'Sex': 'male',
    'Age': 22
}
data2 = {
    'Name': 'Zack',
    'Sex': 'male',
    'Age': 30
}
data3 = {
    'Name': 'Emily',
    'Sex': 'female',
    'Age': 32
}

In [14]:
pd.DataFrame([data1, data2, data3])

    Name     Sex  Age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

In [15]:
data = {
    'Name': ['John', 'Zack', 'Emily'],
    'Sex': ['male', 'male', 'female'],
    'Age': [22, 30, 32]
}

In [16]:
pd.DataFrame(data)

    Name     Sex  Age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

In [17]:
df = pd.DataFrame(data)

In [18]:
df.head()

    Name     Sex  Age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

In [19]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [20]:
df.head(2)  # ÂÖ®„Å¶„ÅÆ„Éá„Éº„Çø„ÇíË¶ã„Åü„ÅÑÂ†¥Âêà„ÅØ pd.set_option('display/max_columns', None)„Å®„Åã„Å£„Å¶„ÇÑ„Çã„Å®„ÅÑ„ÅÑ

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [21]:
len(df)

4803

In [22]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [23]:
type(df.describe())

pandas.core.frame.DataFrame

In [24]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [25]:
df['revenue']  # df.revenue„Åß„ÇÇ„ÅÑ„Åë„Çã„Åå„ÄÅÊñáÂ≠óÂàó„Å´„Çπ„Éö„Éº„Çπ„Å™„Å©„Åå„ÅÇ„Çã„Å®Âºæ„Åã„Çå„Çã„Åã„ÇâÈùûÊé®Â•®

0       2787965087
1        961000000
2        880674609
3       1084939099
4        284139100
           ...
4798       2040920
4799             0
4800             0
4801             0
4802             0
Name: revenue, Length: 4803, dtype: int64

In [26]:
df.iloc[10]  # Ë°å„ÇíÂèñÂæó„Åô„Çã„Å´„ÅØiloc

budget                                                          270000000
genres                  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
homepage                                          http://www.superman.com
id                                                                   1452
keywords                [{"id": 83, "name": "saving the world"}, {"id"...
original_language                                                      en
original_title                                           Superman Returns
overview                Superman returns to discover his 5-year absenc...
popularity                                                      57.925623
production_companies    [{"name": "DC Comics", "id": 429}, {"name": "L...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2006-06-28
revenue                                                         391081192
runtime                                                             154.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                                               NaN
title                                                    Superman Returns
vote_average                                                          5.4
vote_count                                                           1400
Name: 10, dtype: object

In [27]:
df.iloc[10:13]  # 10‰ª•‰∏ä13Êú™Ê∫Ä„ÅÆË°å„ÇíÂèñÂæó

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246

In [28]:
# „Ç´„É©„É†„ÅåÊï∞Â≠ó„Åßindex„ÅåÊñáÂ≠óÂàó„ÅÆÂ†¥Âêà
ndarray = np.arange(25).reshape(5, 5)
index = ['a', 'b', 'c', 'd', 'e']
columns = [0, 1, 2, 3, 4]
df = pd.DataFrame(ndarray, index=index, columns=columns)
df

    0   1   2   3   4
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [29]:
df.loc['b']

0    5
1    6
2    7
3    8
4    9
Name: b, dtype: int64

In [30]:
s = pd.Series([100, 100, 100, 100, 100], index=['a', 'b', 'c', 'd','e'])
s

a    100
b    100
c    100
d    100
e    100
dtype: int64

In [31]:
df[0]

a     0
b     5
c    10
d    15
e    20
Name: 0, dtype: int64

In [32]:
df[0] = s
df

     0   1   2   3   4
a  100   1   2   3   4
b  100   6   7   8   9
c  100  11  12  13  14
d  100  16  17  18  19
e  100  21  22  23  24

In [34]:
df = pd.read_csv('tmdb_5000_movies.csv')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond‚Äôs past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [36]:
df.drop(0)
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [39]:
df.drop('id', axis=1).head(2)

,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

# Filter

In [50]:
data = {
    'name': ['John', 'Zack', 'Emily'],
    'sex': ['male', 'male', 'female'],
    'age': [22, 30, 32]
}
df = pd.DataFrame(data)
df

    name     sex  age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

In [51]:
df[[True, False, True]]  # 0Ë°åÁõÆ„Å®2Ë°åÁõÆ„Å†„ÅëÊé°Áî®„Åô„Çã

    name     sex  age
0   John    male   22
2  Emily  female   32

In [52]:
filter_series = pd.Series([True, False, True])
filter_series

0     True
1    False
2     True
dtype: bool

In [53]:
df['age']

0    22
1    30
2    32
Name: age, dtype: int64

In [54]:
df['age'] >= 30

0    False
1     True
2     True
Name: age, dtype: bool

In [56]:
df[df['age'] >= 30]
df

    name     sex  age
0   John    male   22
1   Zack    male   30
2  Emily  female   32

In [57]:
df = pd.read_csv('tmdb_5000_movies.csv')
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [59]:
df['original_language'] == 'ja'

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799    False
4800    False
4801    False
4802    False
Name: original_language, Length: 4803, dtype: bool

In [60]:
df[df['original_language'] == 'ja']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,„Ç∑„É≥„Éª„Ç¥„Ç∏„É©,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1471,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,Â¥ñ„ÅÆ‰∏ä„ÅÆ„Éù„Éã„Éß,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
1709,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,„Ç≠„É£„Éó„ÉÜ„É≥„Éè„Éº„É≠„ÉÉ„ÇØ,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,„Éè„Ç¶„É´„ÅÆÂãï„ÅèÂüé,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,„ÇÇ„ÅÆ„ÅÆ„ÅëÂß´,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
2258,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,ÂçÉ„Å®ÂçÉÂ∞ã„ÅÆÁ•ûÈö†„Åó,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
2888,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster‚Äôs deadly existence ...,5.327714,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
2900,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,"[{""name"": ""Tokyo Broadcasting System (TBS)"", ""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
2908,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,„Åæ„ÅÇ„Å†„Å†„Çà,This film tells the story of professor Uehida ...,2.930853,"[{""name"": ""Tokuma Shoten"", ""id"": 1779}, {""name...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
3296,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,„Ç¢„Ç≠„É©,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
3542,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
3901,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pok√©mon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,"[{""name"": ""TV Tokyo"", ""id"": 3034}, {""name"": ""4...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pok√©mon: Spell of the Unknown,Pok√©mon: Spell of the Unknown,5.9,137
4344,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,"[{""name"": ""Toho Film (Eiga) Co. Ltd."", ""id"": 6...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
4535,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,‰∏É‰∫∫„ÅÆ‰æç,A samurai answers a village's request for prot...,39.756748,"[{""name"": ""Toho Company"", ""id"": 882}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,„Ç≠„É•„Ç¢,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

In [61]:
df[df['original_language'] == 'ja'].describe

<bound method NDFrame.describe of         budget                                             genres  \
97    15000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1471  41677699  [{"id": 16, "name": "Animation"}, {"id": 10751...
1709  30000000  [{"id": 16, "name": "Animation"}, {"id": 878, ...
1987  24000000  [{"id": 14, "name": "Fantasy"}, {"id": 16, "na...
2247  26500000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2258  20000000  [{"id": 16, "name": "Animation"}, {"id": 14, "...
2294  15000000  [{"id": 14, "name": "Fantasy"}, {"id": 12, "na...
2888  12000000  [{"id": 80, "name": "Crime"}, {"id": 18, "name...
2900  12000000           [{"id": 878, "name": "Science Fiction"}]
2908         0                      [{"id": 18, "name": "Drama"}]
3296   8000000  [{"id": 878, "name": "Science Fiction"}, {"id"...
3542   5500000  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
3901  16000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
4344   1000000  [{"id": 12, "name": "Adventure"}, {"id": 27, "...
4535   2000000  [{"id": 28, "name": "Action"}, {"id": 18, "nam...
4792     20000  [{"id": 80, "name": "Crime"}, {"id": 27, "name...

                                               homepage      id  \
97                                                  NaN  315011
1471                                                NaN   12429
1709                                                NaN  192577
1987                                                NaN    4935
2247                                                NaN     128
2258                                                NaN    8953
2294             http://movies.disney.com/spirited-away     129
2888  http://www.office-kitano.co.jp/brother/index.html     327
2900                                                NaN   61984
2908                                                NaN   13889
3296               http://www.bandaivisual.co.jp/akira/     149
3542                              http://www.r-100.com/  193722
3901                  http://movies.warnerbros.com/pk3/   10991
4344                                                NaN   10643
4535                                                NaN     346
4792                                                NaN   36095

                                               keywords original_language  \
97    [{"id": 1299, "name": "monster"}, {"id": 7671,...                ja
1471  [{"id": 456, "name": "mother"}, {"id": 1357, "...                ja
1709                                                 []                ja
1987  [{"id": 334, "name": "flying"}, {"id": 616, "n...                ja
2247  [{"id": 1721, "name": "fight"}, {"id": 1994, "...                ja
2258  [{"id": 392, "name": "england"}, {"id": 1436, ...                ja
2294  [{"id": 616, "name": "witch"}, {"id": 970, "na...                ja
2888  [{"id": 380, "name": "brother brother relation...                ja
2900                                                 []                ja
2908                                                 []                ja
3296  [{"id": 83, "name": "saving the world"}, {"id"...                ja
3542  [{"id": 7089, "name": "dominatrix"}, {"id": 15...                ja
3901  [{"id": 1262, "name": "mountains"}, {"id": 280...                ja
4344  [{"id": 233, "name": "japan"}, {"id": 1299, "n...                ja
4535  [{"id": 233, "name": "japan"}, {"id": 1462, "n...                ja
4792  [{"id": 233, "name": "japan"}, {"id": 549, "na...                ja

               original_title  \
97                     „Ç∑„É≥„Éª„Ç¥„Ç∏„É©
1471                  Â¥ñ„ÅÆ‰∏ä„ÅÆ„Éù„Éã„Éß
1709               „Ç≠„É£„Éó„ÉÜ„É≥„Éè„Éº„É≠„ÉÉ„ÇØ
1987                  „Éè„Ç¶„É´„ÅÆÂãï„ÅèÂüé
2247                    „ÇÇ„ÅÆ„ÅÆ„ÅëÂß´
2258                 Steamboy
2294                 ÂçÉ„Å®ÂçÉÂ∞ã„ÅÆÁ•ûÈö†„Åó
2888                  Brother
2900  Space Battleship Yamato
2908                    „Åæ„ÅÇ„Å†„Å†„Çà
3296                      „Ç¢„Ç≠„É©
3542                     R100
3901     Pok√©mon 3: The Movie
4344  Gojira ni-sen mireniamu
4535                     ‰∏É‰∫∫„ÅÆ‰æç
4792                      „Ç≠„É•„Ç¢

                                               overview  popularity  \
97    From the mind behind Evangelion comes a hit la...    9.476999
1471  The son of a sailor, 5-year old Sosuke lives a...   39.586760
1709  Space Pirate Captain Harlock and his fearless ...   14.726338
1987  When Sophie, a shy young woman, is cursed with...   49.549984
2247  Ashitaka, a prince of the disappearing Ainu tr...   60.732738
2258  After receiving a package from his Grandfather...    9.129808
2294  A ten year old girl who wanders away from her ...  118.968562
2888  A Japanese Yakuza gangster‚Äôs deadly existence ...    5.327714
2900  In 2199, five years after the Gamilons began a...    5.158067
2908  This film tells the story of professor Uehida ...    2.930853
3296  Childhood friends Tetsuo and Kaneda are pulled...   39.338097
3542  Ruthless dominatrixes pursue a mild-mannered s...    3.213920
3901  When Molly Hale's sadness of her father's disa...    9.188850
4344  Godzilla saves Tokyo from a flying saucer that...    3.322721
4535  A samurai answers a village's request for prot...   39.756748
4792  A wave of gruesome murders is sweeping Tokyo. ...    0.212443

                                   production_companies  \
97    [{"name": "Cine Bazar", "id": 5896}, {"name": ...
1471  [{"name": "Studio Ghibli", "id": 10342}, {"nam...
1709   [{"name": "Toei Animation Company", "id": 3116}]
1987  [{"name": "Studio Ghibli", "id": 10342}, {"nam...
2247  [{"name": "Miramax Films", "id": 14}, {"name":...
2258  [{"name": "Bandai Visual Company", "id": 528},...
2294           [{"name": "Studio Ghibli", "id": 10342}]
2888  [{"name": "Bandai Visual Company", "id": 528},...
2900  [{"name": "Tokyo Broadcasting System (TBS)", "...
2908  [{"name": "Tokuma Shoten", "id": 1779}, {"name...
3296  [{"name": "Bandai Visual Company", "id": 528},...
3542  [{"name": "Warner Bros.", "id": 6194}, {"name"...
3901  [{"name": "TV Tokyo", "id": 3034}, {"name": "4...
4344  [{"name": "Toho Film (Eiga) Co. Ltd.", "id": 6...
4535              [{"name": "Toho Company", "id": 882}]
4792             [{"name": "Daiei Studios", "id": 881}]

                                   production_countries release_date  \
97              [{"iso_3166_1": "JP", "name": "Japan"}]   2016-07-29
1471            [{"iso_3166_1": "JP", "name": "Japan"}]   2008-07-19
1709            [{"iso_3166_1": "JP", "name": "Japan"}]   2013-09-07
1987            [{"iso_3166_1": "JP", "name": "Japan"}]   2004-11-19
2247            [{"iso_3166_1": "JP", "name": "Japan"}]   1997-07-12
2258            [{"iso_3166_1": "JP", "name": "Japan"}]   2004-07-17
2294            [{"iso_3166_1": "JP", "name": "Japan"}]   2001-07-20
2888  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2000-09-09
2900            [{"iso_3166_1": "JP", "name": "Japan"}]   2010-12-01
2908            [{"iso_3166_1": "JP", "name": "Japan"}]   1993-04-17
3296            [{"iso_3166_1": "JP", "name": "Japan"}]   1988-07-16
3542            [{"iso_3166_1": "JP", "name": "Japan"}]   2013-10-05
3901            [{"iso_3166_1": "JP", "name": "Japan"}]   2000-07-08
4344            [{"iso_3166_1": "JP", "name": "Japan"}]   1999-12-11
4535            [{"iso_3166_1": "JP", "name": "Japan"}]   1954-04-26
4792            [{"iso_3166_1": "JP", "name": "Japan"}]   1997-11-06

        revenue  runtime                                   spoken_languages  \
97     77000000    120.0  [{"iso_639_1": "it", "name": "Italiano"}, {"is...
1471  187479518    100.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
1709   17137302    115.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
1987  234710455    119.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
2247  159375308    134.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
2258          0    126.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
2294  274925095    125.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
2888   15250000    114.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
2900   11212294    131.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
2908          0    134.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
3296     553171    124.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
3542          0    100.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
3901   68411275     93.0           [{"iso_639_1": "en", "name": "English"}]
4344   10037390    107.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
4535     271841    207.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...
4792      99000    111.0  [{"iso_639_1": "ja", "name": "\u65e5\u672c\u8a...

        status                                            tagline  \
97    Released                    A god incarnate. A city doomed.
1471  Released     Welcome To A World Where Anything Is Possible.
1709  Released                                                NaN
1987  Released                                The two lived there
2247  Released  The Fate Of The World Rests On The Courage Of ...
2258  Released                           He will save the future.
2294  Released     The tunnel led Chihiro to a mysterious town...
2888  Released                                  Are You Japanese?
2900  Released                                                NaN
2908  Released                                                NaN
3296  Released               Neo-Tokyo is about to E.X.P.L.O.D.E.
3542  Released                                       M For Father
3901  Released                      Pok√©mon: Spell of the Unknown
4344  Released                              Get ready to crumble.
4535  Released  The Mighty Warriors Who Became the Seven Natio...
4792  Released                           Madness. Terror. Murder.

                              title  vote_average  vote_count
97                    Shin Godzilla           6.5         143
1471                          Ponyo           7.5         926
1709   Space Pirate Captain Harlock           6.5         356
1987           Howl's Moving Castle           8.2        1991
2247              Princess Mononoke           8.2        1983
2258                       Steamboy           6.4         102
2294                  Spirited Away           8.3        3840
2888                        Brother           6.8         107
2900        Space Battleship Yamato           6.3          59
2908                       Madadayo           7.5          20
3296                          Akira           7.8         773
3542                           R100           5.4          31
3901  Pok√©mon: Spell of the Unknown           5.9         137
4344                  Godzilla 2000           5.9          43
4535                  Seven Samurai           8.2         878
4792                           Cure           7.4          63  >

In [73]:
df[(df['original_language'] == 'ja') & (df['vote_average'] > 8)].head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,„Éè„Ç¶„É´„ÅÆÂãï„ÅèÂüé,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,„ÇÇ„ÅÆ„ÅÆ„ÅëÂß´,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983

In [74]:
# ‰∫àÁÆó„ÅãÂ£≤„Çä‰∏ä„Åí„Åå0„Å™„ÇÇ„ÅÆ„ÇíÊäΩÂá∫„Åô„Çã
df[(df['budget'] == 0) | (df['revenue'] == 0)].head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
83,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,79698,[],en,The Lovers,The Lovers is an epic romance time travel adve...,2.418535,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,0,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Love is longer than life.,The Lovers,4.8,34
135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549

In [75]:
len(df[(df['budget'] == 0) | (df['revenue'] == 0)])

1574

In [80]:
# „Å©„Å°„Çâ„Åã„Åå0„Å™„ÇÇ„ÅÆ„ÇíÊäΩÂá∫
df[(df['budget'] == 0) | (df['revenue'] == 0)].head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
83,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,79698,[],en,The Lovers,The Lovers is an epic romance time travel adve...,2.418535,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,0,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Love is longer than life.,The Lovers,4.8,34
135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549

# IndexÊìç‰Ωú

In [82]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [83]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [90]:
df = df[df['original_language'] == 'ja']
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,„Ç∑„É≥„Éª„Ç¥„Ç∏„É©,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1471,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,Â¥ñ„ÅÆ‰∏ä„ÅÆ„Éù„Éã„Éß,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926

In [92]:
# df.reset_index()  # ÂÖÉ„ÄÖ„ÅÆIndex„ÅåÊÆã„Å£„Å¶„Åó„Åæ„ÅÜ
df.reset_index(drop=True).head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,„Ç∑„É≥„Éª„Ç¥„Ç∏„É©,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,Â¥ñ„ÅÆ‰∏ä„ÅÆ„Éù„Éã„Éß,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926

In [95]:
df = df[df['original_language'] == 'ja']
df = df.set_index('id')
df.head()

,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,
315011,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,„Ç∑„É≥„Éª„Ç¥„Ç∏„É©,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
12429,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,Â¥ñ„ÅÆ‰∏ä„ÅÆ„Éù„Éã„Éß,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
192577,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,[],ja,„Ç≠„É£„Éó„ÉÜ„É≥„Éè„Éº„É≠„ÉÉ„ÇØ,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
4935,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,„Éè„Ç¶„É´„ÅÆÂãï„ÅèÂüé,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
128,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,„ÇÇ„ÅÆ„ÅÆ„ÅëÂß´,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983

# DataFame„Å®Nan

In [98]:
df = pd.read_csv('tmdb_5000_movies.csv')
df.iloc[[-1]]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [102]:
len(df)

4803

In [104]:
len(df.dropna())

1493

In [106]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [108]:
df[np.isnan(df['runtime'])]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2656,15000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,370980,"[{""id"": 717, ""name"": ""pope""}, {""id"": 5565, ""na...",it,Chiamatemi Francesco - Il Papa della gente,NaN,0.738646,"[{""name"": ""Taodue Film"", ""id"": 45724}]","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}]",2015-12-03,0,NaN,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,NaN,Chiamatemi Francesco - Il Papa della gente,7.3,12
4140,2,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,459488,"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,...",en,"To Be Frank, Sinatra at 100",NaN,0.050625,"[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2015-12-12,0,NaN,[],Released,NaN,"To Be Frank, Sinatra at 100",0.0,0

In [112]:
len(df.dropna(subset=['runtime']))  #2‰ª∂„Å†„Åëdrop„Åï„Åõ„Åü

4801

In [114]:
df = pd.read_csv('tmdb_5000_movies.csv')
df['runtime'].mean()

np.float64(106.87585919600083)

In [115]:
df['runtime'] = df['runtime'].fillna(df['runtime'].mean())

In [118]:
df[np.isnan(df['runtime'])]

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [119]:
df = pd.read_csv('tmdb_5000_movies.csv')
df.isna()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4799,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4800,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4801,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4802,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [120]:
df['homepage'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4798     True
4799     True
4800    False
4801    False
4802     True
Name: homepage, Length: 4803, dtype: bool

In [121]:
df[df['homepage'].isna()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,"When a cure is found to treat mutations, lines...",3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459359555,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Take a Stand,X-Men: The Last Stand,6.3,3525
34,200000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,62211,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 5984,...",en,Monsters University,A look at the relationship between Mike and Su...,89.186492,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-06-20,743559607,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,School never looked this scary.,Monsters University,7.0,3528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,124606,"[{""id"": 10726, ""name"": ""gang""}, {""id"": 33928, ...",en,Bang,A young woman in L.A. is having a bad day: she...,0.918116,"[{""name"": ""Asylum Films"", ""id"": 10571}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-09-09,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Sometimes you've got to break the rules,Bang,6.0,1
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [123]:
df['homepage_nan'] = df['homepage'].isna()
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'homepage_nan'],
      dtype='object')

In [124]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,homepage_nan
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,False
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,False
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond‚Äôs past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,False
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,False
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,False

# Ë°®ÁµêÂêà

In [140]:
df1 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k2'],
    'A': ['a0', 'a1', 'a2'],
    'B': ['b0', 'b1', 'b2']
})

df2 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k2'],
    'C': ['c0', 'c1', 'c2'],
    'D': ['d0', 'd1', 'd2']
})

In [141]:
df1

  Key   A   B
0  k0  a0  b0
1  k1  a1  b1
2  k2  a2  b2

In [142]:
df2

  Key   C   D
0  k0  c0  d0
1  k1  c1  d1
2  k2  c2  d2

In [144]:
pd.concat([df1,df2])

  Key    A    B    C    D
0  k0   a0   b0  NaN  NaN
1  k1   a1   b1  NaN  NaN
2  k2   a2   b2  NaN  NaN
0  k0  NaN  NaN   c0   d0
1  k1  NaN  NaN   c1   d1
2  k2  NaN  NaN   c2   d2

In [145]:
pd.concat([df1,df2], axis=1)

  Key   A   B Key   C   D
0  k0  a0  b0  k0  c0  d0
1  k1  a1  b1  k1  c1  d1
2  k2  a2  b2  k2  c2  d2

In [148]:
df1.merge(df2)  # key„Çí„Ç≠„Éº„Å´ÁµêÂêà

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1
2  k2  a2  b2  c2  d2

In [149]:
df1 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k2'],
    'A': ['a0', 'a1', 'a2'],
    'B': ['b0', 'b1', 'b2']
})

df2 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k3'],
    'C': ['c0', 'c1', 'c3'],
    'D': ['d0', 'd1', 'd3']
})

In [150]:
df1

  Key   A   B
0  k0  a0  b0
1  k1  a1  b1
2  k2  a2  b2

In [151]:
df2

  Key   C   D
0  k0  c0  d0
1  k1  c1  d1
2  k3  c3  d3

In [161]:
df1.merge(df2)  # „Éá„Éï„Ç©„É´„Éà„ÅØinner

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

In [156]:
df1.merge(df2, how='inner', on='Key')

  Key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

In [157]:
df1.merge(df2, how='outer', on='Key')

  Key    A    B    C    D
0  k0   a0   b0   c0   d0
1  k1   a1   b1   c1   d1
2  k2   a2   b2  NaN  NaN
3  k3  NaN  NaN   c3   d3

In [159]:
df1.merge(df2, how='right', on='Key')

  Key    A    B   C   D
0  k0   a0   b0  c0  d0
1  k1   a1   b1  c1  d1
2  k3  NaN  NaN  c3  d3

In [160]:
df1.merge(df2, how='left', on='Key')

  Key   A   B    C    D
0  k0  a0  b0   c0   d0
1  k1  a1  b1   c1   d1
2  k2  a2  b2  NaN  NaN

In [162]:
df1 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k2'],
    'ID': ['aa', 'bb', 'cc'],
    'A': ['a0', 'a1', 'a2'],
    'B': ['b0', 'b1', 'b2']
})

df2 = pd.DataFrame({
    'Key': ['k0', 'k1', 'k3'],
    'ID': ['aa', 'bb', 'cc'],
    'C': ['c0', 'c1', 'c3'],
    'D': ['d0', 'd1', 'd3']
})

In [164]:
df1.merge(df2, on='Key', suffixes=('_right', '_left'))

  Key ID_right   A   B ID_left   C   D
0  k0       aa  a0  b0      aa  c0  d0
1  k1       bb  a1  b1      bb  c1  d1

# ‰æøÂà©Èñ¢Êï∞

In [166]:
df_movies = pd.read_csv('tmdb_5000_movies.csv')

In [167]:
df_movies['original_language'].unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [168]:
df_movies['original_language'].nunique()

37

In [169]:
len(df_movies)

4803

In [170]:
df_movies['original_language'].value_counts()

original_language
en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [172]:
dict_df_movies = df_movies['original_language'].value_counts().to_dict()
dict_df_movies

{'en': 4505,
 'fr': 70,
 'es': 32,
 'zh': 27,
 'de': 27,
 'hi': 19,
 'ja': 16,
 'it': 14,
 'cn': 12,
 'ko': 11,
 'ru': 11,
 'pt': 9,
 'da': 7,
 'sv': 5,
 'nl': 4,
 'fa': 4,
 'th': 3,
 'he': 3,
 'id': 2,
 'cs': 2,
 'ta': 2,
 'ro': 2,
 'ar': 2,
 'te': 1,
 'hu': 1,
 'xx': 1,
 'af': 1,
 'is': 1,
 'tr': 1,
 'vi': 1,
 'pl': 1,
 'nb': 1,
 'ky': 1,
 'no': 1,
 'sl': 1,
 'ps': 1,
 'el': 1}

In [176]:
df_movies.sort_values('budget', ascending=False).head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767

# DataFrame„ÅÆIteration

In [177]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [180]:
def return_nan_if_zero(budget):
    if budget == 0:
        return np.nan
    else:
        return budget

In [189]:
df['budget']

0       237000000
1       300000000
2       245000000
3       250000000
4       260000000
          ...
4798       220000
4799         9000
4800            0
4801            0
4802            0
Name: budget, Length: 4803, dtype: int64

In [186]:
df['budget'].apply(return_nan_if_zero)

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [190]:
df['budget'] = df['budget'].apply(return_nan_if_zero)

In [191]:
df['budget']

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [192]:
df['revenue'] = df['revenue'].apply(return_nan_if_zero)

In [195]:
df.dropna(subset=['budget', 'revenue']).head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond‚Äôs past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,8.806746e+08,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [197]:
df['profit'] = df['budget'] - df['revenue']

In [198]:
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,-2.550965e+09
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,-6.610000e+08

In [205]:
df.iloc[df['profit'].idxmax()]

budget                                                        255000000.0
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                            http://disney.go.com/the-lone-ranger/
id                                                                  57201
keywords                [{"id": 1556, "name": "texas"}, {"id": 2673, "...
original_language                                                      en
original_title                                            The Lone Ranger
overview                The Texas Rangers chase down a gang of outlaws...
popularity                                                      49.046956
production_companies    [{"name": "Walt Disney Pictures", "id": 2}, {"...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2013-07-03
revenue                                                        89289910.0
runtime                                                             149.0
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                                           Never Take Off the Mask
title                                                     The Lone Ranger
vote_average                                                          5.9
vote_count                                                           2311
profit                                                        165710090.0
Name: 13, dtype: object

In [206]:
df[df['profit'] == df['profit'].max()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
13,255000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2013-07-03,89289910.0,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,165710090.0

In [215]:
df = pd.DataFrame({
    'name': ['Emily', 'Alice', 'Emma'],
    'age': [22, 24, 21],
    'sex': ['Â•≥', 'Â•≥', 'Â•≥']
})

for idx, row in df.iterrows():
    print(f"{row['name']}Ôºà{row['sex']}Ôºâ„ÅØ {row['age']} Ê≠≥„Åß„Åô")

EmilyÔºàÂ•≥Ôºâ„ÅØ 22 Ê≠≥„Åß„Åô
AliceÔºàÂ•≥Ôºâ„ÅØ 24 Ê≠≥„Åß„Åô
EmmaÔºàÂ•≥Ôºâ„ÅØ 21 Ê≠≥„Åß„Åô

# Pivot table

In [217]:
data = {
    'Date': ['Jan-1', 'Jan-1', 'Jan-1', 'Jan-2', 'Jan-2', 'Jan-2'],
    'User': ['Emily', 'John', 'Nick', 'Kevin', 'Emily', 'John'],
    'Method': ['Card', 'Card', 'Cash', 'Card', 'Cash', 'Cash'],
    'Price': [100, 250, 200, 460, 200, 130]
}
df = pd.DataFrame(data)
df

    Date   User Method  Price
0  Jan-1  Emily   Card    100
1  Jan-1   John   Card    250
2  Jan-1   Nick   Cash    200
3  Jan-2  Kevin   Card    460
4  Jan-2  Emily   Cash    200
5  Jan-2   John   Cash    130

In [218]:
df.pivot_table(values='Price', index=['Date', 'User'], columns=['Method'])

Method        Card   Cash
Date  User
Jan-1 Emily  100.0    NaN
      John   250.0    NaN
      Nick     NaN  200.0
Jan-2 Emily    NaN  200.0
      John     NaN  130.0
      Kevin  460.0    NaN

In [220]:
pivot_df = df.pivot_table(values='Price', index=['Date', 'Method'], columns=['User'])
pivot_df

User          Emily   John  Kevin   Nick
Date  Method
Jan-1 Card    100.0  250.0    NaN    NaN
      Cash      NaN    NaN    NaN  200.0
Jan-2 Card      NaN    NaN  460.0    NaN
      Cash    200.0  130.0    NaN    NaN

In [224]:
pivot_df.xs('Card', level='Method')

User   Emily   John  Kevin  Nick
Date
Jan-1  100.0  250.0    NaN   NaN
Jan-2    NaN    NaN  460.0   NaN

In [226]:
pivot_df.xs('Jan-1')

User    Emily   John  Kevin   Nick
Method
Card    100.0  250.0    NaN    NaN
Cash      NaN    NaN    NaN  200.0

# DataFrame„ÅÆ‰øùÂ≠ò

In [252]:
# csv„ÅÆË™≠„ÅøËæº„Åø
df = pd.read_csv('tmdb_5000_movies.csv')

# budget„ÇÑrevenue„Åå0„ÅÆ„ÇÇ„ÅÆ„Çífilter out„Åô„Çã NotÊºîÁÆó~„Çí‰ΩøÁî®„Åó„Å¶„ÅÑ„Çã
df = df[~((df['budget'] == 0) | (df['revenue'] == 0))]

# profit„Å®„ÅÑ„ÅÜ„Ç´„É©„É†„Çí‰ΩúÊàê
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

# profit„Åß„ÇΩ„Éº„Éà„Åô„Çã
df = df.sort_values('profit', ascending=False)

# „Éá„Éº„Çø„Çí‰øùÂ≠ò„Åô„Çã
filename = time.strftime("%Y%m%d_%H%M") + ".csv"
df.to_csv(filename, index=False)
print(f"Created {filename}")

Created 20250524_2234.csv

In [253]:
# updated_df = pd.read_csv('20250524_2230.csv')
# updated_df.head()